<section class="login-block">
   <div class="container">
      <div class="row">
         <div class="col-md-4 login-sec">
            <h2 class="text-center">Login Now</h2>
            <form class="login-form" [formGroup]="loginForm">
               <div class="form-group">
                  <label for="exampleInputEmail1" class="text-uppercase">Mobile Number</label>
                  <input type="number" formControlName="mobile" class="form-control" placeholder="">
               </div>
               <div class="form-group">
                  <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                  <input type="password" formControlName="password" class="form-control" placeholder="">
               </div>
               <div class="form-group">
                  <small>Don't Have Account?<a routerLink="/auth/register"> Register</a></small>
                  <button type="button" (click)="loginUser()" class="btn btn-login float-right btn-sm">Login</button>
               </div>
            </form>

         </div>
         <div class="col-md-8 banner-sec">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

               <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                     <img class="d-block img-fluid" src="assets/images/train.jpg" alt="First slide">
                     <div class="carousel-caption d-none d-md-block">
                        <div class="banner-text">
                           <h2>Train Ticket Reservation</h2>
                           <p>The trains always arrive at your station. The question is which one to take?

                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>