<div class="container">
    <div class="main-act">

        <section class="container booked">
            <h3>User Activities</h3>
            <div class="text-center" *ngIf="tickets.all.length==0">No ticket founds</div>
            <div class="row">

                <article class="card fl-left" *ngFor="let ticket of tickets.all">
                    <span class="badge badge-success" class="time-ago">{{ticket.created_at |timeAgo}}</span>
                    <section class="date">
                        <time datetime="">
                            <span>{{ticket.total_cost}} </span><span>₹</span>
                        </time>
                    </section>
                    <section class="card-cont">
                        <small>Travel</small>
                        <h3>{{ticket.train.train_name}}({{ticket.train.train_number}})</h3>
                        <div class="even-date">
                            <i class="fa fa-calendar"></i>
                            <time>
                                <span> &nbsp;{{ticket.date}}</span>
                                <span> {{ticket.train.from_time}} - {{ticket.train.to_time}}</span>
                            </time>
                        </div>
                        <div class="even-date">
                            <i class="fa fa-ticket"></i>
                            <span *ngFor="let seat of ticket.seats"> {{seat.seat_name}},</span>
                        </div>
                        <div class="even-info">
                            <i class="fa fa-map-marker"></i>
                            <p>

                                {{ticket.train.start_point}} - {{ticket.train.end_point}}
                            </p>
                        </div>

                        <span class="badge badge-success" *ngIf="ticket.ticket_status =='Booked'">Booked</span>
                        <span class="badge badge-danger" *ngIf="ticket.ticket_status =='Cancelled'">Cancelled</span>
                    </section>
                </article>
            </div>
        </section>
    </div>
</div>